<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" />


<style type="text/css">
input {
    display: block;
}
</style>


<h1><center>Welcome to the statistics page!</center></h1>

<p>
On this page, you can filter for several statistics with our database. If you're not too sure about filtering for ELO ranges, it might be good to know that most grandmasters have an average ELO between 2500-2700 while novices have an ELO below 1200. For the result field, if you want to filter for games in which White won, please input 1; if you want to filter for games in which Black won, please input -1. If you would like to see the FICS Game IDs that correspond to the games within your filtered database so that you can look the games up yourself on ficsgames.org, please check the box. The numbers that are inputted in the form are just helpful suggestions, please replace them with whatever you'd like to filter on.
</p>

<form action="/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" />

</form>
