{% load staticfiles %}


<!DOCTYPE html>
<html>
  <head>
    <title>Chess</title>
    <link rel="stylesheet" href="{% static 'css/chessboard-0.3.0.min.css' %}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="{% static 'js/chessboard-0.3.0.js' %}"></script>
    <script src="{% static 'js/chess.js' %}"></script>
  </head>
  <body>
      <script src="{% static 'js/chess.js' %}"></script>
      <div id="board" style="width: 400px"></div>
      <input type="button" id="moveforme" value="Make move for me" />
      <input type="button" id="moves" value="output move" />
      <input type="button" id="undo" value="undo move" />
      <input type="button" id="reset" value="Reset" />



    <script>
        var best_move = []
        var white = true
        var board,
          game = new Chess()

        // do not pick up pieces if the game is over
        // only pick up pieces for the side to move
        $('#undo').on('click', function(){
            game.undo();
            updateStatus();
            board.position(game.fen());
            white = !(white);
            $.ajax({
                url: '{% url "undo" %}',
                data: {undo: true},
                type: 'GET',
                datatype: 'json',
            }).done(function(data){
                best_move.pop()
            });
        })

        $('#reset').on('click', function(){
            game.reset();
            updateStatus();
            board.position(game.fen());
            white = true;
            $.ajax({
                url: '{% url "reset" %}',
                data: {reset: true},
                type: 'GET',
                datatype: 'json',
            }).done(function(data){
                temp = best_move[0];
                best_move = [];
                best_move.push(temp);
            })
        });

        var onDragStart = function(source, piece, position, orientation) {
          if (game.game_over() === true ||
              (game.turn() === 'w' && piece.search(/^b/) !== -1) ||
              (game.turn() === 'b' && piece.search(/^w/) !== -1)) {
            return false;
          }
        };

        var onDrop = function(source, target) {
          // see if the move is legal
          var move = game.move({
            from: source,
            to: target,
            promotion: 'q' // NOTE: always promote to a queen for example simplicity
          });

          // illegal move
          if (move === null) return 'snapback';

          updateStatus();
        };

        // update the board position after the piece snap
        // for castling, en passant, pawn promotion
        var onSnapEnd = function() {
          board.position(game.fen());
          var list_moves = game.history({verbose:true});
          var alg = "";
          for (i = 0; i < list_moves.length; i++){
              alg += String(i+1) + ". " + list_moves[i].san + " "
          }
          $.ajax({
              url: '{% url "move_generator" %}',
              data: {moves: alg, w: white},
              type: 'GET',
              datatype: 'json',
          }).done(function(data) {
              best_move.push(data.m) ;
              white = !white
          })
        };

        var updateStatus = function() {
          var status = '';

          var moveColor = 'White';
          if (game.turn() === 'b') {
            moveColor = 'Black';
          }

          // checkmate?
          if (game.in_checkmate() === true) {
            status = 'Game over, ' + moveColor + ' is in checkmate.';
            alert(status);
          }

          // draw?
          else if (game.in_draw() === true) {
            status = 'Game over, drawn position';
            alert(status);
          }

          // game still on
          else {
            status = moveColor + ' to move';

            // check?
            if (game.in_check() === true) {
              status += ', ' + moveColor + ' is in check';
              alert(status);
            }
          }
        };

        $('#moveforme').on('click', function() {
            game.move(best_move[best_move.length - 1], {sloppy: true});
            updateStatus();
            board.position(game.fen());
            white = !white

            var list_moves = game.history({verbose:true});
            var alg = "";
            for (i = 0; i < list_moves.length; i++){
                alg += String(i+1) + ". " + list_moves[i].san + " "
            }
            $.ajax({
                url: '{% url "move_generator" %}',
                data: {moves: alg, w: white },
                type: 'GET',
                datatype: 'json',
            }).done(function(data) {
                best_move.push(data.m) ;
            })
        });


        $('#moves').on('click', function() {
            alert(best_move[best_move.length - 1]);
        });

        var cfg = {
          draggable: true,
          position: 'start',
          onDragStart: onDragStart,
          onDrop: onDrop,
          onSnapEnd: onSnapEnd
        };
        board = ChessBoard('board', cfg);


        updateStatus();

        window.onload = function() {
            if(best_move.length == 0){
                $.ajax({
                    url: '{% url "move_generator" %}',
                    data: {moves: ""},
                    type: 'GET',
                    datatype: 'json',
                }).done(function(data){
                    best_move.push(data.m);
                });
            };
        };


    </script>
  </body>
</html>
